.container-fluid {
  text-align: center;
}
.p1-showing, .p2-showing, .p3-showing {
  display: none;
}
#welcome {
  background-image: url(../images/background-11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
}
#services {
  background-image: url(../images/background-22.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
#contact {
  background-image: url(../images/background-33.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
.col-dimensions {
  border: solid white 2px;
  padding: 30px;
  width:300px;
  height: 245px;
}
.form-control {
  background: transparent;
  color: black;
}
.form-control::placeholder {
  color: white;
  opacity: 1;
}
.port1, .port2, .port3 {
  display: none;
  background-color: white;
  opacity: 0.5;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left:50%;
  color: black;
}
#port {
  position: relative;
  text-align: center; 
}


